body {
  text-align: center;
  font-size: 1em;
  font-family: verdana;
  margin: 0;
}
h1 {
  font-size: 1.2em;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  margin: 0 0 30px 0;
  color: #333;
}
/* rows */
.row {
  text-align: center;
  display: flex;
  justify-content: center;
}
.col {
  display: block;
  width: 50px;
  height: 50px;
  border: 1px solid #bbb;
  margin: 4px;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2em;
}
.green {
  --background: #3bad3b; /* double dash makes it a variable */
  --border-color: #3bad3b;
  animation: flip 0.6s ease forwards;
}
.grey {
  --background: #747474;
  --border-color: #747474;
  animation: flip 0.6s ease forwards;
}
.yellow {
  --background: #dbc253;
  --border-color: #dbc253;
  animation: flip 0.6s ease forwards;
}

/* for keypad */
.keypad {
  max-width: 500px;
  margin: 20px auto;
}
/* to bring down the z row for QWERTY format */
div.z {
  margin: 6px !important;
  width: 40px !important;
}
/* format rows */
.keypad > div {
  margin: 5px;
  width: 40px;
  height: 50px;
  background: #eee;
  display: inline-block;
  border-radius: 6px;
  line-height: 50px;
}

/* animation delay for each column in the row */
.row-past > div:nth-child(2) {
  animation-delay: 0.2s;
}
.row-past > div:nth-child(3) {
  animation-delay: 0.4s;
}
.row-past > div:nth-child(4) {
  animation-delay: 0.6s;
}
.row-past > div:nth-child(5) {
  animation-delay: 0.8s;
}

/* when letter is being typed */
.filled {
  animation: pop 0.08s ease-in-out forwards;
}

/* animations for when a guess is made */
.keypad > div.green {
  background: #5ac85a;
  color: #fff;
  transition: all 0.75 s ease-in;
}
.keypad > div.yellow {
  background: #e2cc68;
  color: #fff;
  transition: all 0.75s ease-in;
}
.keypad > div.grey {
  background: #a1a1a1;
  color: #fff;
  transition: all 0.75s ease-in;
}

/* animations */
@keyframes flip {
  0% {
    transform: rotateX(0); 
    background: white;
    border-color: #333;
  }
  45% {
    transform: rotateX(90deg);
    background: white;
    border-color: #333;
  }
  55% {
    transform: rotateX(90deg);
    background: var(--background);
    border-color: var(--border-color);
  }
  100% {
    transform: rotateX(0);
    background: var(--background);
    border-color: var(--border-color);
    color: #eee;
  }
}

@keyframes pop {
   0% {
    transform: scale(1);
    border-color: #eee;
   }
   50% {
    transform: scale(1.2);
   }
   100% {
    transform: scale(1);
    border-color: #1d1d1d;
   }
}